.animate-circles {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-117%, -100%);
  i {
    position: absolute;
    inset: 0;
    border: 2px solid var(--color-white);
    transition: 0.5s;
    &:nth-child(1) {
      border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
      animation: animate 6s linear infinite;
    }
    &:nth-child(2) {
      border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
      animation: animate 4s linear infinite;
    }
    &:nth-child(3) {
      border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
      animation: animate2 10s linear infinite;
    }
  }




  &--right {
    position: absolute;
    transform: translate(150%, -20%);
  }

  &:hover{
    i:nth-child(1) {
      border: 6px solid var(--color-green);
      filter: drop-shadow(0 0 20px var(--color-green))
    }
    i:nth-child(2) {
      border: 6px solid var(--color-pink);
      filter: drop-shadow(0 0 20px var(--color-pink))
    }
    i:nth-child(3) {
      border: 6px solid var(--color-yellow);
      filter: drop-shadow(0 0 20px var(--color-yellow))
    }
  }

}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}