.ui-page {

  &__bubble-button{
    border-color: black;
    color: black;
  }

  &__circle-button {
    background-color: transparent;
    border: 1px solid black;
  }

  &__checkbox {
    display: flex;
    align-items: center;
  }

  &__label {
    margin-left: 10px;
  }
}