.snap-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  &__block {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 150px 0;
    &--all-height {
      padding: 0;
    }
    &:nth-child(1) {
      background-color: var(--snap-1);
    }
    &:nth-child(2) {
      background-color: var(--snap-2);
    }
    &:nth-child(3) {
      background-color: var(--snap-3);
      align-items: flex-end;
    }
    &:nth-child(4) {
      background-color: var(--snap-4);
      //align-items: flex-start;
    }
    &:nth-child(5) {
      background-color: var(--snap-2);
      align-items: flex-end;
    }
    &:nth-child(6) {
      background-color: var(--snap-4);
      align-items: flex-start;
    }
    &:nth-child(7) {
      background-color: var(--snap-3);
      align-items: flex-end;
    }
    &:nth-child(8) {
      background-color: var(--snap-4);
      align-items: flex-start;
    }
  }
}
