:root {
  // =============================================================================
  // Colors
  // =============================================================================

  --color-black: #000000;
  --color-white: #FFF;
  --color-pink: #ff014a; //RGB (255,1,74)
  --color-lavande: rgb(191, 147, 226);
  --color-mint: #59ceb1;//89, 206, 117
  --color-green: #00ff0a;
  --color-yellow: #fffd44;
  --color-primary: var(--color-lavande);
  --color-gray: #555;

  // =============================================================================
  // Shadow(box-shadow)
  // =============================================================================


  // =============================================================================
  // Filter
  // =============================================================================
  //--filter-place-card: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  // =============================================================================
  // Z-index
  // =============================================================================

  --z-hidden: -100;
  --z-background: -1;
  --z-bottom: 1;
  --z-pre-middle: 20;
  --z-middle: 30;
  --z-default: 50;
  --z-up: 60;
  --z-100: 100;
  --z-200: 200;
  --z-500: 500;
  --z-pre-top: 900;
  --z-top: 1000;
  --z-1200: 1200;
  --z-1300: 1300;
  // =============================================================================
  // Fonts
  // =============================================================================

  --font-roboto: Roboto, sans-serif;
  --font-noah: Noah, sans-serif;
  --font-pudelinka: Pudelinka, sans-serif;
  --font-caveat: Caveat, sans-serif;
}
