@import "./_vars";
@import "./_mixins";
@import "./_fonts";
@import "./_generic";
@import "./_libs";

.app {
  //padding: 20px 0;
  &__up-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
    border: 1px solid black;
    border-radius: 50px;
  }
}

.grecaptcha-badge {display: none !important;}